@using APMLibrary.Web.ViewComponents;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/APMLibrary.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="m-4" style="position: fixed; bottom: 0; right: 0; width: 50px;">
        <button id="page-up-btn" class="btn btn-dark border-1 border-white">
            <i class="bi bi-arrow-bar-up fs-5"></i>
        </button>
    </div>

    <div class="bg-white navbar-expand-lg fixed-top custom-shadow">
        <header class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-between py-3 mx-5 border-bottom">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="~/img/logo.png" alt="..." width="40" height="32" />
                <span class="mx-2 fs-4">Библиотека</span>
            </a>
            <button class="navbar-toggler" style="border: 2px solid #666; border-radius: 8px;" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="text-dark m-2"><i class="bi bi-list text-dark"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav col-12 navbar-nav mt-2 mt-lg-0 flex-grow-1 col-md-auto justify-content-center" 
                    style="font-size: 18px;">
                    @{
                        var selectionLink = (string path) => this.Context.Request.Path == path 
                            ? "link-secondary border-bottom border-secondary border-3" : "link-dark";
                    }
                    <li class="nav-item">
                        <a href="/catalog" class="nav-link px-3 @selectionLink("/catalog")">Библиотека</a>
                    </li>
                    <li class="nav-item">
                        <a href="/addbook" class="nav-link px-3 @selectionLink("/addbook")">Загрузить</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-dark">Подписка</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-3 link-dark">Помощь</a></li>
                    @await RenderSectionAsync("Supports", required: false)
                </ul>
                <div class="text-end">
                    @await this.Component.InvokeAsync(typeof(ProfileNavViewComponent))
                </div>
            </div>
        </header>
    </div>

    <div class="container w-100" style="flex-grow: 1; margin-top: 90px;">
        <main role="main" class="mb-3 mb-sm-3 h-100"> @RenderBody() </main>
    </div>

    <div id="page-footer" class="bg-dark m-0 px-5 custom-shadow">
        <footer class="py-3 py-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Главная</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Детали</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Цены</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Вопросы</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-white">О нас</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2023 Библиотека.ру</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#page-up-btn").click(() => $("html, body").animate({ scrollTop: 0 }, 150));
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>