@model string
@{
}
<div class="mb-4 alert alert-danger alert-dismissible fade show" role="alert" style="border-radius:16px;">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <strong>Уведомление!</strong>&nbsp;@this.Model
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>