@using APMLibrary.Web.ViewModels.ComponentsViewModels;
@{
}
<div class="row mx-3 mb-3 p-2" style="overflow-x: auto">
    <ul class="nav nav-pills text-nowrap flex-nowrap">
        <li class="nav-item px-2">
            <a class="btn custom-bg-white" href="@this.Url.Page("/LibraryPages/ListCatalog", new { OrderType = OrderType.PublishTitle })">
                <i class="bi bi-book-half mx-2"></i>
                <span class="mx-2">Книги</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="btn custom-bg-white" href="@this.Url.Page("/LibraryPages/ListCatalog", new { OrderType = OrderType.DateTime })">
                <i class="bi bi-stack mx-2"></i>
                <span class="mx-2">Новинки</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="btn custom-bg-white" href="@this.Url.Page("/LibraryPages/ListCatalog", new { OrderType=OrderType.RatingValue })">
                <i class="bi bi-fire mx-2"></i>
                <span class="mx-2">Топ книг</span>
            </a>
        </li>
    </ul>
</div>