@model string
@{
}
<button type="button" class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#@this.Model">
    Применить изменения
</button>
<div class="modal fade" id="@this.Model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Изменение данных</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Данные профиля будут изменены. Вы уверены, что принимаете изменения?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Назад</button>
                <input class="btn btn-dark" type="submit" value="Подтвердить" />
            </div>
        </div>
    </div>
</div>