@{
}
<div class="bg-white custom-bg-white p-3" style="border-radius: 10px;">

    <h2 class="fs-5 fw-bolder mb-4">Меню администратора</h2>
    <div class="row mb-3">

        <div class="col-12 mb-3">
            <a asp-page="/AdminPages/SupportSettings" class="btn btn-outline-dark w-100">Справочники</a>
        </div>
        <div class="col-12 mb-3">
            <a asp-page="/AdminPages/SupportSettings" class="btn btn-outline-dark w-100">Пользователи</a>
        </div>
        <div class="col-12 mb-3">
            <a asp-page="/AdminPages/SupportSettings" class="btn btn-outline-dark w-100">Публикации</a>
        </div>
    </div>

</div>