/*@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    
}

body {
    --main-color: #ffef73;
    --secondary-color: #ffda61;
    --main-text-color: #EA2B1F;

    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F6F6F6;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px #AAA;
    border-radius: 4px;
    background-color: #FAFAFA;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px #AAA;
    border-radius: 4px;
    background-color: #444;
}

.custom-bg-white {
    background-color: #FFF;
    border-radius: 10px;
    color: #000;
    box-shadow: 0px 0px 8px #CCC;
}

.breadcrumb-item {
    font-size: 17px;
}

.checked-star {
    color: orange;
}

.card-img-catalog {
    height: 160px;
    object-fit: contain;
}