@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
    const string image = "https://previews.123rf.com/images/popmarleo/popmarleo1807/popmarleo180700042/105673765-books-hand-drawn-fun-colored-background-on-yellow-vector-cartoon.jpg";
}

@{
    await this.Html.RenderPartialAsync("SectionsPartial");
}

<div class="row w-100" style="background-image: url('@image'); background-repeat: repeat; background-size: 30%;">
    <div style="height: 200px;">
        <h1>Онлайн библиотека </h1>
    </div>
</div>